//Typography

$font-text: 'Open Sans', sans-serif;

$font-size-main: 16px;
$font-size-name: 14px;

$semi-bold: 600;
$normal: 400;

//Colors

$white: #fff;
$gray-light: #E9E9E9;
$gray: #DADDE2;
$gray-dark: #515151;
$gray-darken:#383E48;
$green: #78C009;
$orange: #FFB800;

// Media query
$desktop: 1024px;
$tablet: 992px;
$mobile: 768px;