@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* ==========================================================================
	General Styles
========================================================================== */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #E9E9E9;
  color: #515151;
  margin: 0; }
  body * {
    box-sizing: border-box; }

/* ==========================================================================
   Container
========================================================================== */
.container {
  margin: 0 auto;
  width: 100%; }

/* ==========================================================================
	Header
========================================================================== */
.header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  height: 64px;
  z-index: 1000; }

.header_inner {
  display: flex;
  margin: 0 auto;
  max-width: 920px;
  flex-direction: row;
  justify-content: space-between; }

.header_logo {
  margin-top: 8px; }
  .header_logo img {
    width: 108px;
    height: 48px; }

.header_logout {
  margin-top: 24px;
  display: flex; }
  .header_logout a {
    font-weight: 600;
    color: #515151;
    line-height: 22px;
    text-decoration: none; }
    .header_logout a:hover {
      text-decoration: none; }

.logout_img {
  top: 24px;
  margin-right: 12px;
  text-decoration: none; }
  .logout_img:hover {
    text-decoration: none; }

/* ==========================================================================
	Form
========================================================================== */
.section_bg {
  background-color: #78C009;
  height: 240px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%; }

.form {
  position: relative;
  max-width: 920px;
  background-color: #fff;
  z-index: 2;
  border-radius: 4px 4px 0px 0px;
  left: 0;
  right: 0;
  margin: -200px auto 0;
  padding: 5px 15px 100px 15px;
  min-height: 100vh; }

.links_container {
  display: flex;
  margin: 56px auto 0;
  max-width: 540px;
  padding-bottom: 8px;
  border-bottom: 2px solid #E9E9E9;
  border-radius: 2px;
  cursor: pointer; }

.container_link {
  text-decoration: none; }
  .container_link span {
    color: #515151;
    font-size: 14px;
    opacity: 0.5;
    font-weight: normal; }

.form_content {
  display: none; }
  .form_content .personal_funds {
    text-align: center;
    margin-top: 20px; }

.inner_link_container {
  width: 270px;
  text-align: center; }
  .inner_link_container:hover, .inner_link_container.active {
    border-bottom: 2px solid #78C009;
    border-radius: 2px;
    padding-bottom: 8px;
    margin-bottom: -10px; }
    .inner_link_container:hover .container_link, .inner_link_container.active .container_link {
      text-decoration: none; }
      .inner_link_container:hover .container_link span, .inner_link_container.active .container_link span {
        font-weight: 600;
        opacity: 1; }

/* form-group */
.form-group {
  margin: 32px auto 0;
  max-width: 540px; }
  .form-group .form_field:first-of-type {
    margin-top: 0; }
  .form-group .form_field {
    margin-top: 24px; }
    .form-group .form_field label {
      font-size: 14px;
      font-weight: 400; }
    .form-group .form_field input {
      margin-top: 8px;
      width: 100%;
      border: 1px solid #DADDE2;
      box-sizing: border-box;
      border-radius: 4px;
      height: 40px;
      color: #515151;
      font-size: 16px; }
      .form-group .form_field input:focus {
        outline: none; }

.btn {
  position: relative;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 24px auto 0;
  width: 270px;
  height: 40px;
  text-align: center;
  background-color: #78C009;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px; }
  .btn:active, .btn:focus {
    outline: none; }

/* form-group */
.form-group {
  max-width: 540px; }
  .form-group.form-group_indent {
    margin: 56px auto 0; }
    .form-group.form-group_indent .form_field {
      margin-top: 0; }

.form_title {
  line-height: 33px;
  text-align: center;
  font-weight: 600;
  font-size: 24px; }

.form_container {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  max-width: 540px; }
  @media screen and (max-width: 768px) {
    .form_container {
      flex-direction: column; } }
  .form_container .form_field {
    width: 258px;
    color: #383E48;
    position: relative; }
    @media screen and (max-width: 768px) {
      .form_container .form_field {
        width: 100%; } }
    .form_container .form_field.form_field_indent {
      margin-right: 24px; }
    .form_container .form_field label {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 8px;
      position: relative;
      display: block; }
    .form_container .form_field .change_btn {
      position: absolute;
      color: #DADDE2;
      bottom: 10px;
      right: 15px;
      text-decoration: none; }
      .form_container .form_field .change_btn:hover {
        text-decoration: none;
        color: #DADDE2; }
    .form_container .form_field input {
      width: 258px;
      height: 40px;
      color: #515151;
      font-size: 16px;
      border: 1px solid #DADDE2;
      box-sizing: border-box;
      border-radius: 4px;
      margin-top: 8px; }
      @media screen and (max-width: 768px) {
        .form_container .form_field input {
          width: 100%; } }
      .form_container .form_field input:focus {
        outline: none; }
      .form_container .form_field input[type="password"] {
        letter-spacing: 6px;
        font-size: 1.3em; }

/* Filling scale */
.filling_scale {
  margin-top: 10px; }

.filling_scale_item {
  position: relative;
  height: 4px;
  border-radius: 2px;
  width: 258px; }
  .filling_scale_item.no-colored {
    background-color: #E9E9E9;
    z-index: 1; }
  .filling_scale_item.colored {
    position: absolute;
    z-index: 2; }

.filling_scale_title {
  color: transparent;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 600; }

.weak {
  width: 50px;
  background-color: red; }

.average {
  width: 182px;
  background-color: #FFB800; }

.strong {
  width: 258px;
  background-color: #78C009; }

/*# sourceMappingURL=main.css.map */
